{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ config.ADMIN_SITE_TITLE }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="shortcut icon" type="image/png" href="{% if config.ADMIN_SITE_ICON %}{{ config.ADMIN_SITE_ICON }}{% else %}{{ config.SITE_FAVICON }}{% endif %}" />
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ config.ADMIN_SITE_TITLE }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}