{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block head_content %}
    {{ block.super }}
    <!-- Additional head content can go here -->
{% endblock %}

{% block title-bar %}
<title-bar style="--d:flex; --jc: space-around">
    <a href="/"><img src="{% static 'images/The_Study.webp' %}" alt="The Study" style="--minw:10em; "></a>
    <section style="--w:200%; --ta:right;">
        <h2 style="--c: #005894; --fs: 1.5em; --weight: bold;">Particip8</h2>
        <p style="--c: #005894; --fs: 0.8em;">Where participation becomes portfolio</p>
    </section>
</title-bar>
{% endblock %}

{% block content %}
    {{ block.super }}
    <!-- Main content overrides can go here -->
{% endblock %}

{% block footer %}
    {{ block.super }}
    <!-- Footer modifications can go here -->
{% endblock %}