{% extends "experiences/badges_base.html" %}

{% block title %}
    {{ badges }}
{% endblock %}

{% block content %}
    <h2><a href={% url "experiences:badges_list" %}>Badges</a></h2>
    <h3>{{ badges }} | <a href={% url "experiences:badges_update" badges.pk %}>Update</a></h3>   
<hr>        
        <ul style="--lis:none">
            
                <li>
                    : {{ badges.title }}
                </li>
            
                <li>
                    : {{ badges.description }}
                </li>
            
                <li>
                    : {{ badges.image }}
                </li>
            
                <li>
                    : {{ badges.is_active }}
                </li>
            
        </ul>
    <form style="--d:inline" action={% url "experiences:badges_delete" badges.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ badges }}?')">{% csrf_token %}
        
    </form>

{% endblock %}
