{% extends "experiences/core_competency_base.html" %}

{% block title %}
    {{ core_competency }}
{% endblock %}

{% block content %}
    <h2><a href={% url "experiences:core_competency_list" %}>CoreCompetency</a></h2>
    <h3>{{ core_competency }} | <a href={% url "experiences:core_competency_update" core_competency.pk %}>Update</a></h3>
        
        <ul>
            
                <li>
                    title: {{ core_competency.title }}
                </li>
            
                <li>
                    description: {{ core_competency.description }}
                </li>
            
                <li>
                    is_active: {{ core_competency.is_active }}
                </li>
            
        </ul>
    <form style="display:inline;" action={% url "experiences:core_competency_delete" core_competency.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ core_competency }}?')">{% csrf_token %}
        
    </form>

{% endblock %}
