{% extends "experiences/core_competency_base.html" %}

{% block title %}
    Core Competencies
{% endblock %}

{% block content %}
    <h2>Core Competencies</h2>
    <h3><a href={% url "experiences:core_competency_create" %}>Create new CoreCompetency</a></h3>
    <ul>
    {% for core_competency in core_competency_list %}
        <li>
            <a href={% url "experiences:core_competency_detail" core_competency.pk %}>{{ core_competency }}</a> 
    </form>
</li>
    {% empty %}
        <li>No Core Competencies yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

