{% extends "experiences/group_base.html" %}

{% block title %}
    Activity Groups
{% endblock %}

{% block content %}
    <h2>Activity Groups</h2>
    {% if user.is_staff or user.is_superuser %}
        <h3><a href={% url "experiences:group_create" %}>Create new Group</a></h3>
    {% endif %}   
    <hr>
    <input type="text" placeholder="Search..." id="search" 
        _="on keyup 
            if the event's key is 'Escape'
                set my value to '' 
                trigger keyup
            else
                show <li/> in #group_list when its textContent.toLowerCase() contains my value.toLowerCase()">  
    <ul id="group_list">
    {% for group in group_list %}
        <li>
            <a href={% url "experiences:group_detail" group.pk %}>{{ group }}</a> 
    </li>
    {% empty %}
        <li>No Activity Groups yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

