{% extends "experiences/group_base.html" %}

{% block title %}
    {{ group }}
{% endblock %}

{% block content %}
    <h2><a href={% url "experiences:group_list" %}>Group</a></h2>
    <h3>{{ group }} | <a href={% url "experiences:group_update" group.pk %}>Update</a></h3>
        
        <ul>
            
                <li>
                    name: {{ group.name }}
                </li>
            
                <li>
                    description: {{ group.description }}
                </li>
            
                <li>
                    Core Competency 1: {{ group.core_competency_1 }}
                </li>
            
                <li>
                    Core Competency 2: {{ group.core_competency_2 }}
                </li>
            
                <li>
                    Core Competency 3: {{ group.core_competency_3 }}
                </li>
            
        </ul>

        <h4>Members</h4>
        <ul>
            {% for member in group.members.all %}
                <li>{{ member }}</li>
            {% endfor %}
        </ul>
    <form style="display:inline;" action={% url "experiences:group_delete" group.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ group }}?')">{% csrf_token %}
        
    </form>

{% endblock %}
