{% extends "experiences/participation_base.html" %}

{% block title %}
    {{ participation }}
{% endblock %}

{% block content %}
    <h2><a href={% url "experiences:participation_list" %}>Participation</a></h2>
    <h3>
        {{ participation }} 
        {% if can_edit %}
        | <a href={% url "experiences:participation_update" participation.pk %}>Update</a>
        {% endif %}
    </h3>   
<hr>        
        <ul style="--lis:none">
            
                <li>
                    person: {{ participation.person }}
                </li>
            
                <li>
                    group: {{ participation.group }}
                </li>
            
                <li>
                    hours: {{ participation.hours }}
                </li>
            
                <li>
                    special_recognition: {{ participation.special_recognition }}
                </li>
            
                <li>
                    years: {{ participation.years }}
                </li>
            
                <li>
                    elementary: {{ participation.elementary }}
                </li>
            
                <li>
                    high: {{ participation.high }}
                </li>
            
        </ul>
    {% if can_edit %}
    <form style="--d:inline" action={% url "experiences:participation_delete" participation.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ participation }}?')">{% csrf_token %}
        <input type="submit" value="Delete" />
    </form>
    {% endif %}

{% endblock %}
