{% extends "experiences/pathways_base.html" %}

{% block title %}
    Update {{ pathways }}
{% endblock %}

{% block content %}
<h2><a href={% url "experiences:pathways_list" %}>Pathways</a></h2>
<h3>Update {{ pathways }}</h3>   
<hr>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "experiences:pathways_detail" pathways.pk %}>Cancel</a>
<form style="--d:inline" 
    action={% url "experiences:pathways_delete" pathways.pk %}
    method="post" 
    onsubmit="return confirm('Are you sure you want to delete {{ pathways }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}
