{% extends "experiences/person_base.html" %}

{% block title %}
    Update {{ person }}
{% endblock %}

{% block content %}
<h2><a href={% url "experiences:person_list" %}>Person</a></h2>
<h3>Update {{ person }}</h3>   
<hr>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "experiences:person_detail" person.pk %}>Cancel</a>
<form style="--d:inline" 
    action={% url "experiences:person_delete" person.pk %} 
    method="post" 
    onsubmit="return confirm('Are you sure you want to delete {{ person }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}
